.overview-h2 {
    font-size: 3.5vh;
    font-weight: bold;
}
.overview-h3 {
    font-size: 3vh;
}
.monthly-overview {
    width: 20%;
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2vh;
    border-radius: 2vh;
    box-shadow: 0 0px 24px rgb(201, 179, 242);
    animation: slider 0.6s forwards;
    animation-delay: 0.1s;
    transition: transform 1s ease;
}
.yearly-overview {
    width: 20%;
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2vh;
    border-radius: 2vh;
    box-shadow: 0 0px 18px rgb(116, 92, 221);
    margin-top: 3vh;
    animation: slider 0.6s forwards;
    transition: transform 1s ease;
}
@keyframes slider {
    0% {
        width: 20%;
    }
    55% {
        width: 102%;
    }
    82% {
        width: 95%;
    }
    100% {
        width: 100%;
    }
}
.monthly-overview:hover, .yearly-overview:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px #a855f7,
            0 0 20px #a855f7,
            0 0 40px #a855f7;
}