.transaction-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 90%;
    border-radius: 4vh;
    background-color: rgba(255, 255, 255, 0.05);
    box-shadow: 0 0 14px rgb(255, 255, 255);
    flex-wrap: wrap;
    padding-bottom: 3rem;
    padding-top: 3rem;
    margin-top: 5%;
}
.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 90%;
    animation: fadeInUp 1s;
}
.transaction-type {
    display: flex;
    align-items: center;
    width: 15%;
    height: auto;
    font-size: 1.75rem;
    overflow-wrap: break-word;
}
.transaction-category {
    display: flex;
    align-items: center;
    width: 25%;
    height: auto;
    font-size: 1.75rem;
    overflow-wrap: break-word;
}
.transaction-amount {
    display: flex;
    align-items: center;
    width: 20%;
    height: auto;
    font-size: 1.75rem;
    overflow-wrap: break-word;
}
.transaction-date {
    display: flex;
    align-items: center;
    width: 20%;
    height: auto;
    font-size: 1.75rem;
    overflow-wrap: break-word;
}

.delete-transaction-column {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: auto;
    border: none;
    color: red;
    background-color: transparent;
    font-weight: bold;
    font-size: 1.75rem;
    transition: transform 0.2s ease;
}
.delete-text {
    color: white;
    font-weight: 400;
    transition: none;
    visibility: hidden;
}
.transaction-buttons {
    margin-top: 1%;
    height: 10%;
    width: 90%;
    display: flex;
}
.delete-transaction-button {
    width: 10%;
    background-color: rgb(172, 41, 60);
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    margin-left: 1.5%;
    /* border: 2px solid white; */
}
hr {
    width: 90%;
}
.add-transaction-button {
    width: 10%;
    background-color: rgb(172, 41, 60);
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
    border-radius: 0.5rem;
    font-size: 1.5rem;
}
.delete-transaction-column:hover {
    transform: scale(1.4); 
}
