.analytics-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.analytics-heading {
    font-size: 5.5vh;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding-bottom: 4vh;
}
.financial-overview-container {
    width: 90%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.spending-analytics-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}